{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<div class="fixed-header-wrap">
    <div class="fixed-header">
        <div class="logo-header">
            <div class="logo-companyname">
                <span class="resize-logo">{{widget('logo', 'sitelogo', {"defaultlogo": asset('images/logo.jpg')})|raw}}</span>
            </div>
            <div class="header-extendednavigation">
                    {{widget('extendednavigation', 'extendednavigation', {})|raw}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container -->

<!-- Homepage Feature -->
{{widget('feature', 'featurehome', {
    "header": "CUSTOM MADE BELIEVE COUTURE COLLECCTION AVAILABLE NOW",
    "defaultBgImg": asset('images/feature-bg.jpg'),
    'positionTopPercentage': '0',
    'showBtn': true,
    buttonText: "Lorem Ipsum"
})|raw}}
<!-- End Homepage Feature -->

<div class="featurecontainer">
    <div class="feature-left-container">
        {{widget('feature', 'feature-left', {
            "header": "SPRING/SUMMER 2015 COLLECTION",
            "strapline": " ",
            "defaultBgImg": asset('images/feature-img1.jpg'),
            "positionTopPercentage": "50",
            "showBtn": true,
            "buttonText": "Lorem Ipsum"
        })|raw}}
    </div>
    <div class="feature-right-container">
        {{widget('feature', 'feature-right', {
            "header": " ",
            "strapline": " ",
            "defaultBgImg": asset('images/feature-img2.jpg'),
            "positionTopPercentage": "50",
            "showBtn": false,
            "buttonText": "Lorem Ipsum"
        })|raw}}
    </div>
</div>
<div class="container-zone">
    	<!-- Page Content -->
    	<section class="template-content">
            <div class="container-zone">
    		<!-- Main Widet Zone -->
    	   	{{zone('main')|raw}}

    	</section>
    	<!-- End Page Content -->
  </div>
    </div>
    <!-- End Container -->
</div>

{% include "includes/footer.twig" %}

{% endblock %}
